.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.login__container {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(218, 218, 218);
  margin: 0;
  position: absolute;
  width: 25%;
  height: 40%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.input-column {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}
h3 {
  margin-top: 20px;
}

.submit-btn {
  padding: 4px 32px;
}
